html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $font-roboto;
  font-size: 16px;
  font-weight: normal;
  color: $blue-dark;
}

a {
  text-decoration: none;
  transition: all 0.2s;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

h1 {
  font-family: $font-bebas;
  font-size: 109px;
}

h2 {
  font-family: $font-bebas;
  font-size: 49px;
  color: $blue-dark;
}

h3 {
  font-weight: bold;
  font-size: 26px;
}

p {
  margin-bottom: 20px;
}

figure {
  margin: 0;
}

/* tablet */
@media (max-width: $tablet) {
  h1 {
    font-size: 86px;
  }

  h2 {
    font-size: 42px;
  }
}

/* mobile */
@media (max-width: $mobile) {
  h1 {
    font-size: 86px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 22px;
  }
}
