$mobile: 767px;
$tablet: 1199px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
//colors
$white: #FFFFFF;
$white-2: #F8F9FC;
$blue: #1C3374;
$blue-dark: #102654;
$blue-bright: #103AAE;
$red: #ED0233;
$red-2: #D10A42;
$black: #030A1A;
//fonts
$font-roboto: "Roboto Condensed", "Arial", sans-serif; // bold, regular, light
$font-bebas: "Bebas Neue", "Arial", sans-serif; // bold, regular
$font-sans-serif: "Arial", sans-serif;
