.advantage {
  padding: 120px 0;
  background-color: $white-2;
}

.advantage h2 {
  margin-bottom: 80px;
  text-align: center;
}

.advantage h3 {
  margin: 0;
  font-size: 22px;
}

.advantage__inner {
  position: relative;
}

.advantage__block {
  display: flex;
  justify-content: space-between;
}

.advantage__block-wrapper {
  border-bottom: 2px solid rgba($red-2, 0.2);
  padding-left: 25px;
  padding-bottom: 80px;
  width: 340px;
  margin: 0;
  font-weight: lighter;
}

.advantage__block-wrapper p {
  margin: 0;
}

.advantage__number {
  display: block;
  margin: 0 0 10px 0;
  font-weight: bold;
  font-size: 71px;
  background: linear-gradient(128deg, rgba(237,2,51,1) 0%, rgba(6,61,180,1) 20%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.advantage__unit {
  display: block;
  margin: 0;
  font-size: 14px;
  color: $blue-3;
}

.advantage__main-block {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 240px;
  padding: 65px 34px;
  color: $white;
  text-align: center;
  background-color: $blue-dark;
}

.advantage__main-number {
  margin-bottom: 25px;
  font-weight: bold;
  font-size: 74px;
  color: $white;
}

.advantage__main-block h3 {
  margin-bottom: 50px;
  font-size: 26px;
}

.advantage__main-block p {
  margin: 0;
}

/* tablet */
@media (max-width: $tablet) {
  .advantage {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .advantage h2 {
    margin-bottom: 61px;
  }

  .advantage__number {
    font-size: 58px;
  }

  .advantage h3 {
    font-size: 20px;
  }

  .advantage__block {
    margin-left: -15px;
    margin-right: -15px;
  }

  .advantage__main-block {
    position: static;
    max-width: 442px;
    min-height: 239px;
    padding: 45px 135px;
    margin-left: auto;
    margin-right: auto;
    transform: none;
  }

  .advantage__main-number {
    margin-bottom: 30px;
  }
}


/* mobile */
@media (max-width: $mobile) {
  .advantage {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .advantage h2 {
    margin-bottom: 60px;
  }

  .advantage__block {
    display: block;
  }

  .advantage__block-wrapper {
    text-align: center;
  }

  .advantage__main-block {
    display: block;
    max-width: none;
    padding: 50px 102px;
    min-height: 239px;
    margin-left: -15px;
    margin-right: -15px;
  }

  .advantage__main-number {
    margin-bottom: 25px;
  }
}
