.banner {
  position: relative;
  display: flex;
  padding-bottom: 51px;

  h1 {
    margin: 0 0 58px 0;
    line-height: 109px;
    color: $white;
    letter-spacing: 4px;
  }
}

.banner__wrapper {
  position: relative;
  margin: 0 62px 0 98px;
  text-align: right;
}

.banner__city {
  display: inline-block;
  vertical-align: middle;
  margin-top: 108px;
  margin-bottom: 8px;
  font-family: $font-bebas;
  font-weight: normal;
  font-size: 49px;
  color: $white;
  letter-spacing: 3px;
}

.banner__info {
  position: absolute;
  top: 300px;
  right: 269px;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: -0.8px;
  color: $white;

  p {
    margin: 0;
    white-space: nowrap;
  }
}

.banner__item {
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }
}

.banner__img {
  margin-top: -6px;
}

.banner__social {
  @include list-reset;
  position: absolute;
  bottom: 93px;
  right: 45px;
  text-align: right;
}

.banner__link {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  color: $white;
  text-transform: uppercase;

  &:hover,
  &:focus {
    color: darken($white, 20%);
  }
}

/* tablet */
@media (max-width: $tablet) {
  .banner {
    justify-content: flex-end;
    padding-top: 25px;
    padding-bottom: 80px;

    h1 {
      margin-bottom: 40px;
      line-height: 86px;
    }
  }

  .banner__wrapper {
    margin: 0 28px 0 0;
  }

  .banner__city {
    margin-top: 45px;
    margin-bottom: 0;
    font-size: 34px;
  }

  .banner__info {
    top: 177px;
    right: 214px;
  }

  .banner__img {
    width: 324px;
    height: 390px;

    img {
      height: 100%;
      object-fit: cover;
    }
  }

  .banner__social {
    display: none;
  }
}

/* mobile */
@media (max-width: $mobile) {
  .banner {
    display: block;
    padding-top: 0;
    padding-bottom: 0;

    h1 {
      line-height: 78px;
      letter-spacing: 0;
    }
  }

  .banner__wrapper {
    margin-right: 0;
  }

  .banner__info {
    top: 192px;
    right: 180px;
  }

  .banner__city {
    margin-top: 69px;
    margin-bottom: 13px;
    font-size: 28px;
    letter-spacing: 1px;;
  }

  .banner__img {
    display: none;
  }
}
