.banner {
  position: relative;
  display: flex;
  justify-content: center;
  padding-bottom: 41px;

  h1 {
    margin: 0 0 80px 0;
    line-height: 109px;
    color: $white;
  }
}

.banner__wrapper {
  position: relative;
  margin-right: 64px;
  text-align: right;
}

.banner__city {
  display: inline-block;
  vertical-align: middle;
  margin-top: 122px;
  margin-bottom: 25px;
  font-family: $font-bebas;
  font-weight: normal;
  font-size: 49px;
  color: $white;
}

.banner__info {
  position: absolute;
  top: 357px;
  right: 245px;
  font-size: 14px;
  color: $white;

  p {
    margin: 0;
    white-space: nowrap;
  }
}

.banner__item {
  margin-bottom: 24px;

  &:last-child {
    margin-bottom: 0;
  }
}

.banner__social {
  @include list-reset;
  position: absolute;
  bottom: 0;
  right: 45px;
  margin-bottom: 69px;
}

.banner__link {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  color: $white;
  text-transform: uppercase;

  &:hover,
  &:focus {
    color: $blue-dark;
  }
}

/* tablet */
@media (max-width: $tablet) {
  .banner {
    justify-content: flex-end;
    padding-top: 25px;

    h1 {
      margin-bottom: 60px;
      line-height: 86px;
    }
  }

  .banner__wrapper {
    margin-right: 30px;
  }

  .banner__city {
    margin-top: 55px;
    margin-bottom: 16px;
    font-size: 34px;
  }

  .banner__info {
    top: 218px;
    right: 193px;
  }

  .banner__img {
    width: 324px;
    height: 390px;

    img {
      height: 100%;
      object-fit: cover;
    }
  }

  .banner__social {
    display: none;
  }
}

/* mobile */
@media (max-width: $mobile) {
  .banner {
    display: block;
    padding-top: 0;
    padding-bottom: 0;

    h1 {
      line-height: 78px;
    }
  }

  .banner__wrapper {
    margin-right: 0;
  }

  .banner__info {
    top: 222px;
    right: 200px;
  }

  .banner__city {
    margin-top: 80px;
    margin-bottom: 20px;
    font-size: 28px;
  }

  .banner__img {
    display: none;
  }
}
