.contact {
  h2 {
    margin: 0 0 40px 0;
  }
}

.contact__wrapper {
  display: flex;
}

.contact__column {
  width: 235px;

  &:first-child {
    padding-right: 10px;
    border-right: 1px solid $grey;
  }

  &:last-child {
    padding-left: 59px;
  }

  dl {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.contact__dt {
  margin-bottom: 6px;
  font-weight: bold;
}

.contact__dd {
  margin: 0;
  font-size: 14px;
  line-height: 175%;
}

.contact__phone,
.contact__email {
  color: $blue-dark;

  &:hover,
  &:focus {
    color: $blue-bright;
  }
}

/* tablet */
@media (max-width: $tablet) {
  .contact {
    h2 {
      margin: 0 0 35px 0;
    }
  }

  .contact__column {
    width: 264px;

    &:last-child {
      padding-left: 46px;
    }
  }

  .contact__dt {
    margin-bottom: 8px;
    font-size: 20px;
  }

  .contact__dd {
    margin: 0;
    font-size: 18px;
    line-height: 152%;
  }
}

/* mobile */
@media (max-width: $mobile) {
  .contact__wrapper {
    display: block;
  }

  .contact__column {
    width: auto;

    &:first-child {
      margin-bottom: 30px;
      padding-right: 0;
      border-right: 0;
    }

    &:last-child {
      padding-left: 0;
    }
  }
}
