// footer__top
.footer__top {
  display: flex;
  border-top: 1px solid $grey;
}
// form
.footer__form {
  width: 50%;
  padding: 70px 45px 70px 120px;
  background-color: $blue-dark;
}

// contact
.footer__contacts {
  width: 50%;
  padding: 70px 45px 70px 120px;
}

// footer__bottom
.footer__bottom {
  padding-top: 44px;
  padding-bottom: 44px;
  background-color: $black;
}

.footer__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__menu,
.footer__social {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
}

.footer__social {
  align-items: center;
}

.footer__item {
  margin-right: 40px;

  &:last-child {
    margin-right: 0;
  }
}

.footer__link {
  font-size: 14px;
  color: $white;
}

.logo-mobile {
  display: none;
}

/* tablet */
@media (max-width: $tablet) {
  .footer__top {
    display: block;
    border-top: none;
  }

  .footer__form,
  .footer__contacts {
    width: auto;
  }

  .footer__bottom {
    padding-top: 47px;
    padding-bottom: 47px;
  }

  .footer__item {
    margin-right: 30px;
  }
}

/* mobile */
@media (max-width: $mobile) {
  .footer__form,
  .footer__contacts {
    padding: 70px 15px;
  }

  .footer__bottom {
    padding-top: 50px;
    padding-bottom: 50px;

    .logo {
      display: none;
    }
  }

  .footer__info {
    display: block;
  }

  .footer__menu {
    display: block;
    column-count: 2;
  }

  .footer__link {
    font-size: 16px;
  }

  .logo-mobile {
    display: block;
  }
}
