.form {
  max-width: 410px;
  margin-left: auto;
  margin-right: 125px;

  h2 {
    margin: 0 0 58px 0;
    color: $white;
  }
}

input {
  width: calc(50% - 15px);
  padding-bottom: 10px;
  margin-bottom: 30px;
  font-size: 14px;
  color: $white;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $grey;

  &::placeholder {
    color: $white;
    font-size: 14px;
  }

  &:hover,
  &:focus {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.form__fields {
  display: flex;
  justify-content: space-between;
}

/* tablet */
@media (max-width: $tablet) {
  .form {
    max-width: 472px;
    margin-left: 0;
    margin-right: auto;

    h2 {
      margin: 0 0 50px 0;
    }
  }

  input {
    width: calc(50% - 30px);
  }
}

/* mobile */
@media (max-width: $mobile) {
  input {
    width: 100%;
    margin-bottom: 40px;
  }

  .form__fields {
    display: inline;
  }
}
