.logo {
  display: inline-block;
  vertical-align: middle;
}

/* tablet */
@media (max-width: $tablet) {
  .logo {
    width: 82px;
    height: 17px;
  }
}

/* mobile */
@media (max-width: $mobile) {
  .logo {
    width: 68px;
    height: 15px;
  }
}
