.reviews {
  padding-top: 116px;
  padding-bottom: 124px;

  h2 {
    margin: 0 0 48px 0;
    text-align: center;
  }
}

.reviews__list {
  position: relative;
  max-width: 560px;
  margin-left: auto;
  margin-right: auto;
}

.review {
  display: flex;
  max-width: 560px;
  height: calc(100% - 114px);
  padding: 62px 62px 52px;
  margin-right: auto;
  margin-left: auto;
  background-color: $blue-2;
  box-sizing: border-box;

  h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 20px;
    line-height: 1;
  }

  p {
    line-height: 1.4;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.review__img,
.review__text {
  margin: 0;
  color: $white;
}

.review__text {
  max-width: 328px;
}

.review__img {
  margin-right: 28px;

  img {
    border-radius: 50%;
  }
}

/* tablet */
@media (max-width: $tablet) {
  .reviews {
    padding-top: 98px;
    padding-bottom: 102px;

    h2 {
      margin: 0 0 39px 0;
    }
  }

  .reviews__list {
    max-width: 566px;
  }

  .review {
    max-width: 566px;
    padding-right: 65px;
    padding-left: 65px;
  }
}

/* mobile */
@media (max-width: $mobile) {
  .reviews {
    padding-top: 70px;
    padding-bottom: 65px;
  }

  .reviews__list {
    max-width: 226px;
  }

  .review {
    max-width: 226px;
    padding: 40px 25px;

    h3 {
      position: absolute;
      top: 56px;
      left: 124px;
      text-align: left;
    }
  }

  .review__img {
    position: absolute;
    top: 44px;
    left: 40px;
    width: 68px;
  }

  .review__text {
    margin-top: 70px;
    text-align: center;
  }
}
