.social__item {
  margin-right: 25px;

  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  display: block;

  &:hover,
  &:focus {
    opacity: 0.5;
  }
}

/* tablet */
@media (max-width: $tablet) {
  .social__item {
    margin-right: 20px;
  }
}

/* mobile */
@media (max-width: $mobile) {
  .social__item {
    margin-right: 42px;
  }
}
