.subscription {
  position: relative;
  z-index: 1;
  padding-top: 116px;
  padding-bottom: 80px;
  background-color: $white-2;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: -70px;
    right: 0;
    width: 290px;
    height: 420px;
    background: transparent url("../img/sports-equipment.png") no-repeat left top;
  }

  h2 {
    margin: 0 0 33px 0;
  }

  h3 {
    margin: 0 0 12px 0;
  }

  h2,
  h3,
  p {
    text-align: center;
  }
}

.subscription__time {
  margin-bottom: 39px;
}

.subscription__time-list,
.subscription__list {
  @include list-reset;
}

.subscription__list {
  display: none;
  flex-wrap: wrap;
  margin-left: -20px;
  margin-right: -20px;
}

.subscription__list--active {
  display: flex;
}

.subscription__time-list {
  display: flex;
  justify-content: space-between;
  max-width: 341px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 2px solid rgba($grey-2, 0.2);
  text-align: center;
}

.subscription__btn {
  @include button-reset;
  padding-bottom: 15px;
  margin-bottom: -2px;
  background-color: transparent;
  font-size: 20px;
  color: rgba($blue-dark, 0.5);
  border-bottom: 2px solid transparent;
  cursor: pointer;

  &:hover,
  &:focus {
    color: rgba($blue-dark, 1);
    outline: none;
  }
}

.subscription__btn--active {
  border-bottom-color: $red-2;
  color: $blue-dark;
}

.subscription__period {
  margin-bottom: 74px;
  color: $blue-4;
}

.subscription__item {
  min-width: 360px;
  padding: 7px;
  margin: 0 20px 40px;
  background-color: $white;
  text-align: center;
  transition: all 0.3s;

  &:hover,
  &:focus {
    background: linear-gradient(135deg, rgba(209, 10, 66, 1) 0%, rgba(0, 53, 159, 1) 80%);
  }
}

.subscription__link {
  display: inline-block;
  vertical-align: middle;
}

.subscription__unit {
  color: $blue-dark;
}

.subscription__price {
  position: relative;
  z-index: 1;
  margin-bottom: 45px;
  font-weight: bold;
  font-size: 60px;
  color: $blue-bright;

  &::before {
    content: attr(data-price);
    position: absolute;
    left: 50%;
    bottom: 0;
    z-index: -1;
    transform: translateX(-50%);
    font-weight: bold;
    font-size: 100px;
    color: rgba($grey-3, 0.48);
  }
}

.subscription__wrapper {
  min-height: 434px;
  padding-top: 55px;
  background-color: $white;
}

/* tablet */
@media (max-width: $tablet) {
  .subscription {
    padding-top: 96px;
    padding-bottom: 100px;

    &::before {
      width: 370px;
    }

    h2 {
      margin-bottom: 29px;
    }
  }

  .subscription__time {
    margin-bottom: 45px;
  }

  .subscription__btn {
    font-size: 18px;
  }

  .subscription__list {
    margin-left: auto;
    margin-right: auto;
  }

  .subscription__list--active {
    display: block;
  }

  .subscription__item {
    max-width: 442px;
    margin-left: auto;
    margin-right: auto;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

/* mobile */
@media (max-width: $mobile) {
  .subscription {
    padding-top: 70px;
    padding-bottom: 70px;

    &::before {
      display: none;
    }

    h2 {
      margin-bottom: 25px;
    }

    h3 {
      margin-bottom: 12px;
    }
  }

  .subscription__time {
    margin-bottom: 35px;
  }

  .subscription__btn {
    font-size: 16px;
  }

  .subscription__item {
    max-width: none;
    min-width: auto;
    margin-bottom: 35px;

    &:hover {
      transform: none;
    }
  }

  .subscription__period {
    margin-top: 0;
    margin-bottom: 66px;
  }

  .subscription__wrapper {
    min-height: 370px;
    padding-top: 41px;
  }

  .subscription__price {
    margin-bottom: 40px;
    font-size: 48px;
  }
}
