.subscription {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: $white-2;

  h2 {
    margin: 0 0 53px 0 ;
  }

  h3 {
    margin: 0 0 22px 0;
  }

  p {
    margin: 0 0 59px 0;
  }

  h2,
  h3,
  p {
    text-align: center;
  }
}

.subscription__time {
  margin-bottom: 39px;
}

.subscription__time-list,
.subscription__item {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.subscription__time-list,
.subscription__list {
  @include list-reset;
}

.subscription__list {
  display: flex;
  justify-content: space-between;
}

.subscription__time-list {
  display: flex;
  justify-content: space-between;
  max-width: 341px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 2px solid rgba($grey-2, 0.2);
}

.subscription__btn {
  @include button-reset;
  padding-bottom: 20px;
  margin-bottom: -2px;
  background-color: transparent;
  font-size: 20px;
  color: rgba($blue-dark, 0.5);
  border-bottom: 2px solid transparent;
  cursor: pointer;
}

.subscription__btn--active {
  border-bottom-color: $red-2;
  color: $blue-dark;
}

.subscription__period {
  color: $blue-4;
}

.subscription__item {
  min-width: 360px;
  padding: 7px;
  background-color: $white;
  transition: all 0.3s;

  &:hover,
  &:focus {
    background-color: rgb(209, 10, 66);
    background: linear-gradient(135deg, rgba(209, 10, 66, 1) 0%, rgba(0, 53, 159, 1) 80%);
    transform: scale(1.1);
  }
}

.subscription__link {
  display: inline-block;
  vertical-align: middle;
}

.subscription__unit {
  color: $blue-dark;
}

.subscription__price {
  position: relative;
  z-index: 1;
  font-weight: bold;
  font-size: 60px;
  color: $blue-bright;
}

.subscription__price-shadow {
  position: absolute;
  left: 50%;
  bottom: 0;
  z-index: -1;
  transform: translateX(-50%);
  font-weight: bold;
  font-size: 100px;
  color: rgba($grey-3, 0.48);
}

.subscription__wrapper {
  min-height: 434px;
  padding-top: 61px;
  background-color: $white;
}

/* tablet */
@media (max-width: $tablet) {
  .subscription {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .subscription h2,
  .subscription__time {
    margin-bottom: 45px;
  }

  .subscription__list {
    display: block;
  }

  .subscription__btn {
    font-size: 18px;
  }

  .subscription__item {
    max-width: 442px;
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

/* mobile */
@media (max-width: $mobile) {
  .subscription {
    padding-top: 70px;
    padding-bottom: 70px;

    h3 {
      margin-bottom: 20px;
    }

    p {
      margin-bottom: 50px;
    }
  }

  .subscription h2,
  .subscription__time {
    margin-bottom: 35px;
  }

  .subscription__btn {
    font-size: 16px;
  }

  .subscription__item {
    max-width: none;
    min-width: auto;
    margin-bottom: 35px;

    &:hover {
      transform: none;
    }
  }

  .subscription__price {
    font-size: 48px;
  }
}
