.trainer {
  padding-bottom: 120px;

  h2 {
    margin-top: 0;
    margin-bottom: 48px;
    letter-spacing: 2px;
  }

  h3 {
    position: absolute;
    left: 50%;
    bottom: 26px;
    transform: translate(-50%);
    z-index: -1;
    margin: 0;
    text-align: center;
    font-size: 18px;
    color: $white;
    white-space: nowrap;
  }
}

.trainer__list {
  @include list-reset;
  display: flex;
  position: relative;
}

.trainer__item {
  position: relative;
  width: 260px;
  min-height: 294px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;

  &:hover,
  &:focus {
    .trainer__overlay {
      opacity: 1;
    }

    .trainer h3 {
      display: none;
    }
  }
}

.trainer__img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.trainer__overlay {
  opacity: 0;
  height: calc(100% - 67px);
  padding: 57px 44px 10px 55px;
  color: $white;
  text-align: center;
  background-color: rgba($blue-dark, 0.9);
  transition: all 0.5s;

  p {
    margin: 0;
    font-size: 16px;
  }
}

.trainer__overlay-name {
  font-weight: bold;
  font-size: 18px;
}


.trainer__overlay-list {
  @include list-reset;
  margin-top: 45px;
  font-size: 14px;
  text-align: left;
}

.trainer__overlay-item {
  position: relative;
  padding-left: 17px;
  margin-bottom: 18px;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 0;
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: $white;
  }
}

/* tablet */
@media (max-width: $tablet) {
  .trainer {
    padding-bottom: 100px;

    h2 {
      margin-bottom: 40px;
      text-align: center;
    }
  }

  .trainer__list {
    max-width: 566px;
    margin-left: auto;
    margin-right: auto;
  }

  .trainer__item {
    width: 268px;
  }
}

/* mobile */
@media (max-width: $mobile) {
  .trainer {
    padding-bottom: 70px;
  }

  .trainer__list {
    max-width: 268px;
  }

  .trainer__item {
    width: 226px;
    min-height: 274px;
  }

  .trainer__overlay {
    padding: 48px 31px 45px;
    height: calc(100% - 93px);
  }
}
